.tab-header-area .tab {
    -fx-padding:4 10 5 10;
    -fx-background-radius: 10 10 0 0;
}

.tab-header-area .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 0.2em 0.2em 0.0em 0.0em;
    -fx-border-radius: 10 10 0 0;
}

.tab:selected .focus-indicator {
    -fx-border-radius: 10 10 0 0, 10 10 0 0;
    -fx-border-insets: -6 -9 -8 -8, -5 -8 -7 -7;
}